* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Changes font for pure grids */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color:#D4DAD0;
}

.body-wrapper {
  text-align: center;
  padding: 2rem;
}

$person-details-size: 300px;

.person-summary {

  position: relative;

  h3 {
    font-size: 150%;
    small { display: block; font-size: 70%; font-weight: 200; }
  }

  .person-details { float: left; width: 300px; }
  .voting-summary { text-align: left; float: right; width: calc(100% - 300px);}

  margin-bottom: 1rem;
}

span[data-attendance-percent^="7"] { color: red; }
span[data-attendance-percent^="8"] { color: darkorange; }
span[data-attendance-percent^="9"] { color: mediumseagreen; }
span[data-attendance-percent="100"] { color: green; }

.person-summary::after {
  content:"";
  background: black;
  position: absolute;
  width: 50%;
  height: 1px;
  left: 25%;
  right: 25%;
}

.vote {

  width: 100%;
  height: 2rem;
  line-height: 2rem;

  .short-title {
    display:inline-block;
    width: 80%;
    font-weight: 800;
    padding-left: 0.5rem;
    background: darkgrey;
    height: 100%;
  }

  .vote {
    display:inline-block;
    height: 100%;
    float:right;
    width: 20%;
    min-width: 100px;
  }

  .vote.yea {  background: green; }
}
