* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Changes font for pure grids */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color:#D4DAD0;
}

.body-wrapper {
  text-align: center;
  padding: 2rem;
}

$person-details-size: 300px;

.person-summary {

  position: relative;

  h3 {
    font-size: 150%;
    small { display: block; font-size: 70%; font-weight: 200; }
  }

  .person-details { float: left; width: 300px; }
  .voting-summary { text-align: left; float: right; width: calc(100% - 300px);}

  margin-bottom: 1rem;
}

span[data-attendance-percent^="7"] { color: red; }
span[data-attendance-percent^="8"] { color: darkorange; }
span[data-attendance-percent^="9"] { color: mediumseagreen; }
span[data-attendance-percent="100"] { color: green; }

.person-summary::after {
  content:"";
  background: black;
  position: absolute;
  width: 50%;
  height: 1px;
  left: 25%;
  right: 25%;
}

.vote {

  width: 100%;
  line-height: 2rem;
  height: 2rem;

  .short-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    float:left;
    width: 80%;
    font-weight: 800;
    padding-left: 0.5rem;
    background: darkgrey;
    height: 100%;
  }

  .vote {
    padding-left: 0.5rem;
    display:inline-block;
    height: 100%;
    float:right;
    width: 20%;
    min-width: 100px;
    cursor: pointer;
  }
  .vote.motion-list { cursor: default; }
}
.vote.Yes { background-color: green; }
.vote.No { background-color: darkred; color: white; }
.vote.Absent { background-color: goldenrod;}
.vote.Abstain { background-color: lightgrey; }

.voting-table {
  line-height: 2rem;
  text-align: left;
  margin: 0 auto;
  font-size: 120%;

  .vote { width: auto; padding-left: 0.5rem; padding-right: 0.5rem;}

  tr td:nth-child(1), tr th:nth-child(1) {
    padding-right: 5rem;
  }

}
